/*html {
    background-color: #fafafa;
}
*/



#pulsante{
   height:200px;
   width:200px;
   border-radius: 50%;
}
.containerBottoni{
	margin-left: 200px;
}
/*textarea {
  width: 20%;
  height: 30%;
}*/