html, body{
  height: 100%;

}
body { 
/*  background-image: linear-gradient(red, yellow, blue);
*//*	background-image: url(https://cdn.pixabay.com/photo/2017/05/31/18/38/sea-2361247_960_720.jpg) ;
*/	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;

}
.containerHome{
	opacity: 0.9;
	border-radius: 50px;
}



h1 {
  font-size: 2em;
  font-family: "Core Sans N W01 35 Light";
  font-weight: normal;
  margin: .67em 0;
  display: block;
}


.module{
  position:relative;
  top:10%;    
  height:65%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
}
.bodyLogin{
	background: url('https://cdn.pixabay.com/photo/2020/02/23/22/19/forest-4874819_960_720.jpg') #0f2439 no-repeat center top;
}
.bodyRegistrati{
  color: #fff;
  background-color:#f0f0f0;
  font-family:helvetica;
  background: url('https://cdn.pixabay.com/photo/2019/06/20/12/33/geranium-4287012__340.jpg') #0f2439 no-repeat center top;
}

.body-content{
  position:relative;
  top:20px;
  height:700px;
  width:800px;
  margin-left:auto;
  margin-right:auto; 

}

textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{
  height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
}





